<div class="page">
<md-tabs>

	<md-tab id="tab-data" md-label="Данные">
		<div class="md-layout">
			<div class="md-layout-item">
				<md-button v-on:click="loadFromFile">Загузить данные...</md-button>
			</div>
		</div>
		<div class="md-layout">
			<div class="md-layout-item md-size-95">
				<matrix :model="data" :header='dataHeader()'/>
			</div>
			<div class="md-layout-item md-size-5">
		  		<matrix :model="scores" header="PCA"/>
		  	</div>
	  	</div>
	</md-tab>

	<md-tab id="tab-dendrogram" md-label="Дендрограмма" >
		<dendrogram :model="dendrogramModel" class="chart"></dendrogram>
	</md-tab>

	<md-tab id="tab-graph" md-label="Граф" >
		<div style="min-height: 600px">
			<graph :model="graphModel"></graph>
		</div>
	</md-tab>

</md-tabs>
</div>

<style scoped>
</style>