<div class="page-container">
    <md-app>
      <md-app-drawer md-permanent="full">
        <md-list>
          <md-list-item to="/pca">
            <md-icon>grid_on</md-icon><span class="md-list-item-text">PCA</span>
          </md-list-item>
          <md-list-item to="/graphs">
            <md-icon>bar_chart</md-icon><span class="md-list-item-text">Графики</span>
          </md-list-item>
        </md-list>
      </md-app-drawer>

      <md-app-content>
      	<router-view></router-view>
      </md-app-content>
    </md-app>

<style scoped lang="scss">
.md-drawer {
  width: 150px;
  max-width: calc(100vw - 125px);
}
</style>
</div>