@charset "UTF-8";
.barChart rect {
  fill: steelblue;
}

.barChart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node circle:hover {
	fill: steelblue;
	cursor: pointer;
}

.node {
  font: 11px sans-serif;
  fill: gray;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.rectLabel {
	fill: white;
	opacity: 1;
}