<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
<link rel="stylesheet" th:href="@{/vue/vue-material.css}">
<link rel="stylesheet" th:href="@{/vue/theme/default.css}">

<script type="text/javascript" th:src="@{/app/app.nocache.js}"></script>
</head>
<body>
<div id="app"></div>
</body>
</html>