<div class="rca-matrix">
<md-subheader class="table-header">{{header}}</md-subheader>
<table>
	<thead>
		<th></th>
		<th v-for="int i in model.getColNumber()">{{model.colHeaders[i-1]}}</th>
	</thead>
	<tbody>
		<tr v-for="int i in model.getRowNumber()">
			<th class="row-header">{{model.rowHeaders[i-1]}}</th>
			<td v-for="int j in model.getColNumber()">
				<input class="small" :value="value(i-1, j-1)"/></td>
		</tr>
		<tr v-if="isShowLambdas()">
			<th class="row-header">λ</th>
			<td v-for="int i in model.getColNumber()">
				<span class="small-number">{{lambda(i-1)}}</span></td>
		</tr>
		<tr v-if="isShowLambdas()">
			<th class="row-header">λ0</th>
			<td :colspan="model.getColNumber()">
				<span class="small-number">{{lambdaTotal()}}</span></td>
		</tr>
	</tbody>
</table>
	
<style scoped>
  input.small {
    width: 35px;
  }
  .table-header{
  	border-bottom: 1px solid;
  	padding-bottom: 0px;
  }
  .rca-matrix{
  	overflow: auto;
  }
  .row-header{
  	white-space: nowrap;
  	text-align: right;
  }
</style>
</div>