<div class="page">
		<div class="md-layout">
			<div class="md-layout-item">
				<md-button v-on:click="loadFromFile">Загузить данные...</md-button>
				<md-button v-on:click="saveToFiles">Выгрузить в файлы...</md-button>
			</div>
			<div class="md-layout-item">
				<md-button v-on:click="calculate">Рассчитать</md-button>
				<md-checkbox v-model="autoscale">Автошкалирование</md-checkbox>
				<div class="md-layout">
					<div class="md-layout-item">
						<md-field>
							<label>PCA</label>
							<md-input v-model="numberOfPca"/>
						</md-field>
					</div>
				</div>
			</div>
		</div>	
		<div class="md-layout">
			<matrix :model="data" :header='dataHeader()'/>
			<matrix :model="scores" header='Счета' showLambdas="true"/>
			<matrix :model="payloads" header='Нагрузки'/>
		</div>

<style scoped lang="scss">
.rca-matrix{
	margin: 4px;
}

</style>
</div>